<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Faculty Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">Welcome to College Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  
</nav>

  <br>
  <br>
  <div class="row">
  <div class="col-sm-6">
    <div class="bg-secondary text-white">
      <div class="card-body">
        <h5 class="card-title">Faculty Information & Management</h5>
        
        <a  class="btn btn-primary" th:href="@{/faculties}">Go To</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="bg-secondary text-white">
      <div class="card-body">
        <h5 class="card-title">Student Information & Management</h5>
       
        <a  class="btn btn-primary" th:href="@{/students}">Go To</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>